body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.train-container {
    align-items: center;
    position: relative;
    width: 100%;
}

#content {
    margin-top: 20px;
}

rect {
    stroke: none;
}

#train {
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.3));
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 100px;  /* Ajusta este valor según el tamaño deseado */
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-text {
    flex: 1;
}
.red{
    max-width: 30%;
    height: auto;
}
.section {
    display: none;
    position: fixed;
    top: 2%;
    left: 5%;       
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 90%;
    max-height: 65%;
    overflow-y: auto;
}

.section.show {
    display: block;
}


button#avanzar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff69b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button#avanzar:hover {
    background-color: #ff1493;
    transform: translateX(-50%) scale(1.05);
}

button#avanzar:active {
    background-color: #ff1e56;
    transform: translateX(-50%) scale(1.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Ensure the video scales properly */
video {
    max-width: 100%;
    height: auto;
    display: block;
}